# IDE intellij
.idea
*.iml

# Project
logs
bin
.build
.dist

# python
**/__pycache__/
__pycache__/
*.py[cod]
out
.pytest_cache
.coverage
*cov/

# Docs
**/*.bkp
**/*.dtmp
docs/
docs/node_modules/
docs/build/
docs/.docusaurus
docs/.cache-loader
docs/.DS_Store
docs/.env.local
docs/npm-debug.log*
docs/yarn-debug.log*
docs/yarn-error.log*
docs/package-lock.json
pages/node_modules/
pages/build/
pages/.docusaurus
pages/.cache-loader
pages/.DS_Store
pages/.env.local
pages/npm-debug.log*
pages/yarn-debug.log*
pages/yarn-error.log*
pages/package-lock.json
