# IDE intellij
.idea
*.iml

# Project
logs
bin
.build
.dist
.run
dist

# python
**/__pycache__/
__pycache__/
*.py[cod]
out
.pytest_cache
.coverage
*cov/

# Docs
**/*.bkp
**/*.dtmp
pages/node_modules/
pages/build/
pages/.docusaurus
pages/.cache-loader
pages/.DS_Store
pages/.env.local
pages/npm-debug.log*
pages/yarn-debug.log*
pages/yarn-error.log*!/.gitignore

### Go template
# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

