{# IGNITION FILE FOR PROVISIONING #}
{# THIS FILE GENERATION IS IGNORED IF THE CONFIGURATION `ignition` IN FREYJA YAML CONF FILE IS PROVIDED #}
{% set at_least_one = {'keys': False} %}
{
    "ignition": {
        "version": "{{ignition.version}}"
    },
    "passwd": {
        "users": [
        {% for user in users %}
        {
            "name": "{{ user.username }}",
            "passwordHash": "{{ user.password }}"
            {% if user.groups %}
            ,
            "groups": ["{{user.groups | join("\", \"") }}"]
            {% endif %}
            {% if user.ssh_keys_contents %}
            ,
            "sshAuthorizedKeys": ["{{user.ssh_keys_contents | list | join(', ') }}"]
            {% endif %}
        }{% if not loop.last %},{% endif %}
        {% endfor %}
        ]
    },
    "storage": {
        "files": [
            {
                "path": "/etc/hostname",
                "filesystem": "root",
                "contents": {
                    "inline": "{{hostname}}"
                }
            }
        ]
    }
}
