@import 'src/css/constants';

.animated {
  animation-name: fadeInFromBottom;
  animation-duration: 1s;
}

.illustration {
  height: 40vh;
}

.main {
  /* flex allows to display divs on a row. Check flex CSS for more info */
  display: flex;
  /* justify-content is used by flex to define the vertical disposition for the divs */
  justify-content: space-around;
  /* align-items is used by flex to define the horizontal disposition for the divs */
  align-items: center;
  height: 60vh;
  animation-name: fadeInFromBottom;
  animation-duration: 1s;

  .mainCover {
  }

  .mainContent {
    max-width: 40vw;
    margin-left: 5vh;

    .libName {
      color: $white;
      margin-top: 3vh;
      font-size: clamp(40px, 8vw, 80px);
      font-weight: 600;
      line-height: 1.1;
      font-family: "Inter", sans-serif;
    }

    .tagLine {
      color: $slate;
      margin-top: 3vh;
      margin-bottom: 3vh;
      line-height: 1.2;
      font-size: 36px;
      font-weight: 600;

    }

    .subtitle {
      color: $slate;
      margin-top: 3vh;
      margin-bottom: 3vh;
      line-height: 0.9;
      font-size: clamp(15px, 3vw, 30px);
      font-weight: 600;
    }

    .title {
      color: $lightestSlate;
      margin-top: 3vh;
      font-size: clamp(30px, 6vw, 60px);
      font-weight: 600;
      line-height: 1.1;
      font-family: "Inter", sans-serif;
    }

    .description {
      color: $green;
      font-family: "Fira Code", serif;
    }

    .buttons {

      .button {
        color: $green;
        background-color: transparent;
        border: 1px solid $green;
        border-radius: 4px;
        padding: 1.25rem 1.75rem;
        font-size: 14px;
        font-family: "Fira Code", serif;
        line-height: 1;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
        margin-top: 30px;
      }
    }
  }
}
