@import 'src/css/constants';

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 5vh;

  .mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
  }
}
